{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>
    
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}

    {% if user.is_authenticated %}
        <form action="{% url 'new_post' %}" method="POST">
            {% csrf_token %}
            <!-- TODO: using django, make the text area 5 rows and the col follow the screen size with some padding-->
            <textarea name="content" cols="30" rows="5"></textarea>
            <input type="submit" value="Post">
        </form>
    {% endif %}

    <!-- if page_obj is empty, display no post-->
    {% if page_obj.paginator.count == 0 %}
        <p>No post</p>
    {% endif %}    
    
    <ul>
        {% for post in page_obj %}
            <li>
                <strong>{{ post.user.username }}</strong>
                <p>{{ post.content }}</p>
                <p>{{ post.timestamp }}</p>
                <p>Likes: {{ post.likes.count }}</p>
            </li>
        {% endfor %}
    </ul>

    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
{% endblock %}